// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2016~2025 Synaptics Incorporated. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 or
 * later as published by the Free Software Foundation.
 *
 * INFORMATION CONTAINED IN THIS DOCUMENT IS PROVIDED "AS-IS," AND
 * SYNAPTICS EXPRESSLY DISCLAIMS ALL EXPRESS AND IMPLIED WARRANTIES,
 * INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE, AND ANY WARRANTIES OF NON-INFRINGEMENT OF ANY
 * INTELLECTUAL PROPERTY RIGHTS. IN NO EVENT SHALL SYNAPTICS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR
 * CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN CONNECTION WITH THE USE
 * OF THE INFORMATION CONTAINED IN THIS DOCUMENT, HOWEVER CAUSED AND
 * BASED ON ANY THEORY OF LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
 * NEGLIGENCE OR OTHER TORTIOUS ACTION, AND EVEN IF SYNAPTICS WAS
 * ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. IF A TRIBUNAL OF
 * COMPETENT JURISDICTION DOES NOT PERMIT THE DISCLAIMER OF DIRECT
 * DAMAGES OR ANY OTHER DAMAGES, SYNAPTICS' TOTAL CUMULATIVE LIABILITY
 * TO ANY PARTY SHALL NOT EXCEED ONE HUNDRED U.S. DOLLARS.
 */

/dts-v1/;

#include "klamath.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Grinn AstraSBC-2619";
	compatible = "Synaptics,klamath", "Synaptics,asserial";

	memory {
		device_type = "memory";
		reg = <0 0 0 0x20000000>;
	};

	chosen {
		stdout-path = &sm_uart0;
	};

	gmac0clk: gmac0clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clk_freq = <250000000>;
	};

	soc {
		eth0_txc_90deg: syscon@0xf7e10a18 {
			compatible = "simple-mfd", "syscon";
			reg = <0xf7e10a18 0x4>;
		};

		gmac0: ethernet@f7a04000 {
			compatible = "synaptics,klamath-dwmac-eqos";
			reg = <0xf7a04000 0x2000>;
			interrupts = <GIC_SPI 15 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "macirq";
			phy-mode = "rgmii";
			clocks = <&gmac0clk>;
			clock-names = "stmmaceth";
			resets = <&reset 0x350 6 0 1>;
			reset-names = "eqos";
			status = "disabled";
		};

		gpio0: gpio@f7f07000 {
			compatible = "snps,dw-apb-gpio";
			dev_name = "gpio_soc_0";
			reg = <0xf7f07000 0x400>;
			#address-cells = <1>;
			#size-cells = <0>;

			porta: gpio-port@0 {
				gpio-controller;
				#gpio-cells = <2>;
				ngpios = <32>;
				reg = <0>;
			};
		};
	};
};

&gmac0 {
	status = "okay";
	max-speed = <1000>;
	phy-mode = "rgmii-id";
	phy-handle = <&phy0>;
	phy = <&phy0>;
	phy-reset-gpios = <&porta 16 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default";
	pinctrl-0 = <&eth0_pmux>, <&mdio_pmux>, <&eth0_phy_rst_pmux>;

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		phy0: ethernet-phy@3 {
			device_type = "ethernet-phy";
			reg = <3>;
			rxc-skew-ps = <1500>;
			rxdv-skew-ps = <420>;
			rxd0-skew-ps = <420>;
			rxd1-skew-ps = <420>;
			rxd2-skew-ps = <420>;
			rxd3-skew-ps = <420>;
			txc-skew-ps = <900>;
			txen-skew-ps = <420>;
			txd0-skew-ps = <420>;
			txd1-skew-ps = <420>;
			txd2-skew-ps = <420>;
			txd3-skew-ps = <420>;
		};
	};
};

&pinctrl {
	eth0_phy_rst_pmux: eth0-phy-rst-pmux {
		groups = "GPIO16";
		function = "gpio";
	};

	eth0_pmux: eth0-pmux {
		groups = "GPIO33", "GPIO34", "GPIO35", "GPIO36", "GPIO37",
			 "GPIO38", "GPIO39", "GPIO40", "GPIO41", "GPIO42",
			 "GPIO43", "GPIO44";
		function = "rgmii1";
	};

	mdio_pmux: mdio-pmux {
		groups = "GPIO31", "GPIO32";
		function = "rgmii";
	};
};

&sdhci0 {
	status = "okay";
	pad_sn = <10>;
	pad_sp = <10>;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	fixed-voltage;
};

&sm_uart0 {
	status = "okay";
};

&sysmgr_pinctrl {
	xspi0_pmux: xspi0-pmux {
		groups = "SM_GPIO18", "SM_GPIO19", "SM_GPIO20", "SM_GPIO21",
			 "SM_GPIO22", "SM_GPIO23", "SM_GPIO24", "SM_GPIO25",
			 "SM_GPIO26", "SM_GPIO27", "SM_GPIO28", "SM_GPIO29",
			 "SM_GPIO30";
		function = "xspi";
	};
};

&usb0 {
	compatible = "snps,dwc2-udc";
	status = "okay";
};

&usb1 {
	compatible = "snps,dwc2-host";
	status = "okay";
};

&usb_phy0 {
	status = "okay";
};

&usb_phy1 {
	status = "okay";
};

&xspi0 {
	status = "okay";
	pinctrl-0 = <&xspi0_pmux>;
	pinctrl-names = "default";

	spi-flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <10000000>;
	};
};
