/* SPDX-License-Identifier: GPL-2.0+ */
/*
* Copyright (C) 2016~2023 Synaptics Incorporated. All rights reserved.
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License version 2 or
* later as published by the Free Software Foundation.
*
* INFORMATION CONTAINED IN THIS DOCUMENT IS PROVIDED "AS-IS," AND
* SYNAPTICS EXPRESSLY DISCLAIMS ALL EXPRESS AND IMPLIED WARRANTIES,
* INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
* A PARTICULAR PURPOSE, AND ANY WARRANTIES OF NON-INFRINGEMENT OF ANY
* INTELLECTUAL PROPERTY RIGHTS. IN NO EVENT SHALL SYNAPTICS BE LIABLE
* FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR
* CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN CONNECTION WITH THE USE
* OF THE INFORMATION CONTAINED IN THIS DOCUMENT, HOWEVER CAUSED AND
* BASED ON ANY THEORY OF LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
* NEGLIGENCE OR OTHER TORTIOUS ACTION, AND EVEN IF SYNAPTICS WAS
* ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. IF A TRIBUNAL OF
* COMPETENT JURISDICTION DOES NOT PERMIT THE DISCLAIMER OF DIRECT
* DAMAGES OR ANY OTHER DAMAGES, SYNAPTICS' TOTAL CUMULATIVE LIABILITY
* TO ANY PARTY SHALL NOT EXCEED ONE HUNDRED U.S. DOLLARS.
*/

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>
#include "grinn-astra-1680-som.dtsi"

/delete-node/ &isp_vsi_subdev;
/delete-node/ &isp_vsi_video;

/ {
	model = "Grinn AstraSBC-1680";
	compatible = "grinn,grinn-astra-1680-sbc", "syna,dolphin";

	keys {
		compatible = "gpio-keys";
		status = "okay";
		pinctrl-0 = <&user_button_pmux>;
		pinctrl-names = "default";

		user_button: user-button {
			label = "Enter Button";
			linux,code = <KEY_ENTER>;
			gpios = <&porta 15 GPIO_ACTIVE_LOW>;
			debounce-interval = <50>;
		};
	};

	leds {
		compatible = "gpio-leds";
		status = "okay";
		pinctrl-0 = <&led_red_pmux>, <&led_yellow_pmux>, <&led_green_pmux>;
		pinctrl-names = "default";

		status_led_red: status-led-red {
			gpios = <&porta 18 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_POWER;
			linux,default-trigger = "default-on";
			default-state = "off";
		};

		status_led_yellow: status-led-yellow {
			gpios = <&porta 20 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_YELLOW>;
			function = LED_FUNCTION_HEARTBEAT;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};

		status_led_green: status-led-green {
			gpios = <&porta 21 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_DISK_ACTIVITY;
			linux,default-trigger = "mmc0";
			default-state = "off";
		};
	};
};

&avio_pinctrl {
	led_red_pmux: led-red-pmux {
		groups = "I2S1_MCLK";
		function = "gpio";
	};

	led_yellow_pmux: led-yellow-pmux {
		groups = "I2S1_BCLKIO";
		function = "gpio";
	};

	led_green_pmux: led-green-pmux {
		groups = "I2S1_LRCKIO";
		function = "gpio";
	};

	user_button_pmux: user-button-pmux {
		groups = "I2S1_DO3";
		function = "gpio";
	};
};

&pinctrl {
	usb_hub_reset_pmux: usb-hub-reset-pmux {
		groups = "USB2_DRV_VBUS";
		function = "gpio";
	};
};

&porta {
	gpio-line-names =
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "USER_BUTTON",
		"", "", "LED_RED", "", "LED_YELLOW", "LED_GREEN", "", "",
		"", "", "", "", "", "", "", "";
};

&portb {
	pinctrl-0 = <&usb_hub_reset_pmux>;
	pinctrl-names = "default";

	gpio-line-names =
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "USB_HUB_RESET",
		"", "", "", "", "", "", "", "";

	disable_usb_hub_reset {
		gpio-hog;
		gpios = <23 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "usb_hub_reset";
	};
};

&sdhci0 {
	status = "okay";
	sdclkdl-dc = /bits/ 8 <26>;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	dll-calibration;
	pad-sp = /bits/ 8 <14>;
	pad-sn = /bits/ 8 <14>;
};

&sm {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&usb_phy0  {
	status = "okay";
};

&usb_phy1  {
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "peripheral";
};

&xhci0 {
	status = "okay";
};
