CONFIG_SM_CM3_FW_PLATFORM="dolphin-rdk"
CONFIG_SM_TEMPERATURE_MONITOR=y
CONFIG_SM_OVERHEAT_MONITOR=y
CONFIG_SM_WAKE_ONLINE=y
CONFIG_SM_GIGA_ETHERNET=y
# CONFIG_SM_IR_PROTOCOL is not set
# CONFIG_SM_IRP_NEC is not set
# CONFIG_SM_IRP_RC5 is not set
# CONFIG_SM_IRP_XMP is not set
# CONFIG_SM_IRP_TC9012 is not set
# CONFIG_SM_IR_RC_VENDOR is not set
CONFIG_SM_WATCHDOG_MONITOR=y
# CONFIG_SM_ACTIVE_STANDBY is not set
# CONFIG_SM_CEC is not set
# CONFIG_SM_LED is not set
# CONFIG_SM_RAM_TS_DISABLE is not set
# CONFIG_SM_RAM_TS_ENABLE is not set
CONFIG_SM_RAM_PARAM_ENABLE=y
# CONFIG_SM_GPIOBTN is not set
# CONFIG_SM_ADCBTN is not set
# CONFIG_SM_MICMUTE_ADC is not set
