// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2016~2025 Synaptics Incorporated. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 or
 * later as published by the Free Software Foundation.
 *
 * INFORMATION CONTAINED IN THIS DOCUMENT IS PROVIDED "AS-IS," AND
 * SYNAPTICS EXPRESSLY DISCLAIMS ALL EXPRESS AND IMPLIED WARRANTIES,
 * INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE, AND ANY WARRANTIES OF NON-INFRINGEMENT OF ANY
 * INTELLECTUAL PROPERTY RIGHTS. IN NO EVENT SHALL SYNAPTICS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR
 * CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN CONNECTION WITH THE USE
 * OF THE INFORMATION CONTAINED IN THIS DOCUMENT, HOWEVER CAUSED AND
 * BASED ON ANY THEORY OF LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
 * NEGLIGENCE OR OTHER TORTIOUS ACTION, AND EVEN IF SYNAPTICS WAS
 * ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. IF A TRIBUNAL OF
 * COMPETENT JURISDICTION DOES NOT PERMIT THE DISCLAIMER OF DIRECT
 * DAMAGES OR ANY OTHER DAMAGES, SYNAPTICS' TOTAL CUMULATIVE LIABILITY
 * TO ANY PARTY SHALL NOT EXCEED ONE HUNDRED U.S. DOLLARS.
 */

/dts-v1/;

#include "klamath.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Grinn AstraCORAL-2619";
	compatible = "Synaptics,klamath", "Synaptics,asserial";

	memory {
		device_type = "memory";
		reg = <0 0 0 0x20000000>;
	};

	chosen {
		stdout-path = &sm_uart0;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		usb1_vbus: usb1-vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb1_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&portb 22 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};
	};

	vmmc_sdhci2: vmmc-sdhci2 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&vmmc_sdhci2_pmux>;
		regulator-name = "vmmc_sdio";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&portb 21 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vqmmc_sdhci2: vqmmc-sdhci2 {
		compatible = "regulator-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&vqmmc_sdhci2_pmux>;
		regulator-name = "vqmmc_sdio";
		regulator-type = "voltage";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&portb 23 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		states = <1800000 0x0 3300000 0x1>;
	};
};

&mux0 {
	status = "okay";
};

&pinctrl {
	sdhci2_pmux: sdhci2-pmux {
		groups = "GPIO16", "GPIO17", "GPIO18", "GPIO19", "GPIO20", "GPIO21", "GPIO22";
		function = "sdio2";
	};

	vmmc_sdhci2_pmux: vmmc-sdhci2-pmux {
		groups = "GPIO53";
		function = "gpio";
	};

	vqmmc_sdhci2_pmux: vqmmc-sdhci2-pmux {
		groups = "GPIO55";
		function = "gpio";
	};
};

&sysmgr_pinctrl {
	xspi0_pmux: xspi0-pmux {
		groups = "SM_GPIO18", "SM_GPIO19", "SM_GPIO20", "SM_GPIO21", "SM_GPIO22", "SM_GPIO23";
		function = "xspi";
	};
};

&sm_uart0 {
	status = "okay";
};

&sdhci0 {
	status = "okay";
	pad_sn = <10>;
	pad_sp = <10>;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	fixed-voltage;
};

&sdhci2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&sdhci2_pmux>;
	sdhci-sdio;
	disable-wp;
	cap-sd-highspeed;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	fixed-voltage;
	skip-phy;
	vmmc-supply = <&vmmc_sdhci2>;
	vqmmc-supply = <&vqmmc_sdhci2>;
	mux-control-names = "mux-0";
	mux-controls = <&mux0 0>;
	mux-0-value = <3>;
};

&usb_phy0 {
	status = "okay";
};

&usb0 {
	compatible = "snps,dwc2-udc";
	status = "okay";
};

&usb_phy1 {
	status = "okay";
};

&usb1 {
	compatible = "snps,dwc2-host";
	status = "okay";
	vbus-supply = <&usb1_vbus>;
};

&xspi0 {
	status = "okay";
	pinctrl-0 = <&xspi0_pmux>;
	pinctrl-names = "default";

	spi-flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <10000000>;
	};
};
