#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>

/ {
	aliases {
		ethernet0 = &ethernet0;
		ethernet1 = &ethernet1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	leds {
		compatible = "gpio-leds";
		status = "okay";
		pinctrl-0 = <&led_green_pmux>, <&led_red_pmux>, <&led_yellow_pmux>;
		pinctrl-names = "default";

		status_led_green: status-led-green {
			gpios = <&porta 23 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_DISK_ACTIVITY;
			linux,default-trigger = "mmc0";
			default-state = "off";
		};

		status_led_red: status-led-red {
			gpios = <&porta 24 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_POWER;
			linux,default-trigger = "default-on";
			default-state = "off";
		};

		status_led_yellow: status-led-yellow {
			gpios = <&porta 22 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_YELLOW>;
			function = LED_FUNCTION_HEARTBEAT;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};
	};

	mdio-demux {
		compatible = "mdio-demux";
		mux-controls = <&mux1 0>;
		mdio-parent-bus = <&mdio0>, <&mdio1>;
		#address-cells = <1>;
		#size-cells = <0>;

		mdio@0 {
			reg = <0x0>;
			#address-cells = <1>;
			#size-cells = <0>;

			eth0_phy: ethernet-phy@3 {
				compatible = "ethernet-phy-ieee802.3-c22";
				reg = <3>;
				pinctrl-0 = <&eth0_phy_rst_pmux>, <&eth0_phy_int_pmux>;
				pinctrl-names = "default";
				rxc-skew-ps = <1500>;
				rxdv-skew-ps = <420>;
				rxd0-skew-ps = <420>;
				rxd1-skew-ps = <420>;
				rxd2-skew-ps = <420>;
				rxd3-skew-ps = <420>;
				txc-skew-ps = <900>;
				txen-skew-ps = <420>;
				txd0-skew-ps = <420>;
				txd1-skew-ps = <420>;
				txd2-skew-ps = <420>;
				txd3-skew-ps = <420>;
				reset-assert-us = <20000>;
				reset-deassert-us = <100000>;
				reset-gpios = <&porta 16 GPIO_ACTIVE_LOW>;
			};
		};

		mdio@1 {
			reg = <0x1>;
			#address-cells = <1>;
			#size-cells = <0>;

			eth1_phy: ethernet-phy@7 {
				compatible = "ethernet-phy-ieee802.3-c22";
				reg = <7>;
				pinctrl-0 = <&eth1_phy_rst_pmux>, <&eth1_phy_int_pmux>;
				pinctrl-names = "default";
				rxc-skew-ps = <1500>;
				rxdv-skew-ps = <420>;
				rxd0-skew-ps = <420>;
				rxd1-skew-ps = <420>;
				rxd2-skew-ps = <420>;
				rxd3-skew-ps = <420>;
				txc-skew-ps = <900>;
				txen-skew-ps = <420>;
				txd0-skew-ps = <420>;
				txd1-skew-ps = <420>;
				txd2-skew-ps = <420>;
				txd3-skew-ps = <420>;
				reset-assert-us = <20000>;
				reset-deassert-us = <100000>;
				reset-gpios = <&porta 19 GPIO_ACTIVE_LOW>;
			};
		};
	};

	soc {
		eth0_txc_90deg: syscon@f7e10a18 {
			compatible = "syscon";
			reg = <0xf7e10a18 0x4>;
		};

		eth1_txc_90deg: syscon@f7e10a3c {
			compatible = "syscon";
			reg = <0xf7e10a3c 0x4>;
		};
	};
};

&avio {
	status = "okay";
};

&camera_video {
	status = "okay";
};

&csi {
	status = "okay";

	ports {
		port@0 {
			csi_input: endpoint@0 {
				remote-endpoint = <&cam_endpoint>;
			};
		};
	};
};

&ethernet0 {
	status = "okay";
	pinctrl-0 = <&eth_mdio_pmux>, <&eth0_pmux>;
	pinctrl-names = "default";
	phy-handle = <&eth0_phy>;
	phy-mode = "rgmii-id";
	syna,txc-90deg = <&eth0_txc_90deg>;

	mdio0: mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
	};
};

&ethernet1 {
	status = "okay";
	pinctrl-0 = <&eth_mdio_pmux>, <&eth1_pmux>;
	pinctrl-names = "default";
	phy-handle = <&eth1_phy>;
	phy-mode = "rgmii-id";
	syna,txc-90deg = <&eth1_txc_90deg>;

	mdio1: mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
	};
};

&gpu {
	status = "okay";
};

&i2c3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pmux>;
	clock-frequency = <100000>;

	cam_node: ov5647@36 {
		compatible = "ovti,ov5647";
		reg = <0x36>;
		status = "okay";

		clocks = <&osc>;

		rotation = <0>;
		orientation = <2>;

		port {
			cam_endpoint: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2>;
				clock-noncontinuous;
				remote-endpoint = <&csi_input>;
			};
		};
	};
};

&isp {
	status = "okay";
};

&mux1 {
	status = "okay";
};

&pdma1 {
	status = "okay";
};

&pinctrl {
	cam_gpio0_pmux: cam-gpio0-pmux {
		groups = "GPIO5";
		function = "gpio";
	};

	cam_gpio1_pmux: cam-gpio1-pmux {
		groups = "GPIO6";
		function = "gpio";
	};

	eth_mdio_pmux: eth-mdio-pmux {
		groups = "GPIO31", "GPIO32";
		function = "rgmii";
		drive-strength = <7>;
	};

	eth0_phy_int_pmux: eth0-phy-int-pmux {
		groups = "GPIO17";
		function = "gpio";
	};

	eth0_phy_rst_pmux: eth0-phy-rst-pmux {
		groups = "GPIO16";
		function = "gpio";
	};

	eth0_pmux: eth0-pmux {
		groups = "GPIO33", "GPIO34", "GPIO35", "GPIO36", "GPIO37", "GPIO38", "GPIO39", "GPIO40", "GPIO41", "GPIO42", "GPIO43", "GPIO44";
		function = "rgmii1";
		drive-strength = <7>;
	};

	eth1_phy_int_pmux: eth1-phy-int-pmux {
		groups = "GPIO18";
		function = "gpio";
	};

	eth1_phy_rst_pmux: eth1-phy-rst-pmux {
		groups = "GPIO19";
		function = "gpio";
	};

	eth1_pmux: eth1-pmux {
		groups = "GPIO48", "GPIO49", "GPIO50", "GPIO51", "GPIO52", "GPIO53", "GPIO54", "GPIO55", "GPIO56", "GPIO57", "GPIO58", "GPIO59";
		function = "rgmii2";
		drive-strength = <7>;
	};

	i2c3_pmux: i2c3-pmux {
		groups = "GPIO27", "GPIO28";
		function = "tw3";
		drive-strength = <8>;
	};

	led_green_pmux: led-green-pmux {
		groups = "GPIO23";
		function = "gpio";
	};

	led_red_pmux: led-red-pmux {
		groups = "GPIO24";
		function = "gpio";
	};

	led_yellow_pmux: led-yellow-pmux {
		groups = "GPIO22";
		function = "gpio";
	};

	optiga_rstn_pmux: optiga-rstn-pmux {
		groups = "GPIO45";
		function = "gpio";
	};
};

&porta {
	pinctrl-0 = <&cam_gpio0_pmux>, <&cam_gpio1_pmux>;
	pinctrl-names = "default";

	gpio-line-names =
		"", "", "", "", "", "CAM_GPIO0", "CAM_GPIO1", "",
		"", "", "", "", "", "", "", "",
		"ETH1_RSTn", "ETH1_INTn", "ETH2_INTn", "ETH2_RSTn", "", "", "LED_YELLOW", "LED_GREEN",
		"LED_RED", "", "", "MIPI_SCL", "MIPI_SDA", "", "", "";
};

&portb {
	pinctrl-0 = <&optiga_rstn_pmux>;
	pinctrl-names = "default";

	gpio-line-names =
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "Optiga_RSTn", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "";
};

&uart0 {
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "peripheral";
};

&usb1 {
	status = "okay";
	dr_mode = "host";
};

&usb_phy0 {
	status = "okay";
};

&usb_phy1 {
	status = "okay";
};
