#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>

/ {
	aliases {
		ethernet0 = &ethernet0;
		ethernet1 = &ethernet1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	bt_reg_on: bt-reg-on {
		compatible = "syna,rfkill";
		status = "okay";
		bt-power-gpio = <&porta 8 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&bt_disable_pmux>;
		pinctrl-names = "default";
	};

	keys {
		compatible = "gpio-keys-polled";
		status = "okay";
		poll-interval = <50>;
		pinctrl-0 = <&user_button_pmux>;
		pinctrl-names = "default";

		user_button: user-button {
			label = "Enter Button";
			linux,code = <KEY_ENTER>;
			gpios = <&portc 10 GPIO_ACTIVE_LOW>;
			debounce-interval = <50>;
		};
	};

	leds {
		compatible = "gpio-leds";
		status = "okay";
		pinctrl-0 = <&led_green_pmux>, <&led_red_pmux>, <&led_yellow_pmux>;
		pinctrl-names = "default";

		status_led_green: status-led-green {
			gpios = <&porta 23 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_DISK_ACTIVITY;
			linux,default-trigger = "mmc0";
			default-state = "off";
		};

		status_led_red: status-led-red {
			gpios = <&porta 24 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_POWER;
			linux,default-trigger = "default-on";
			default-state = "off";
		};

		status_led_yellow: status-led-yellow {
			gpios = <&porta 22 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_YELLOW>;
			function = LED_FUNCTION_HEARTBEAT;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};
	};

	mdio-demux {
		compatible = "mdio-demux";
		mux-controls = <&mux1 0>;
		mdio-parent-bus = <&mdio0>, <&mdio1>;
		#address-cells = <1>;
		#size-cells = <0>;

		mdio@0 {
			reg = <0x0>;
			#address-cells = <1>;
			#size-cells = <0>;

			eth0_phy: ethernet-phy@3 {
				compatible = "ethernet-phy-ieee802.3-c22";
				reg = <3>;
				pinctrl-0 = <&eth0_phy_rst_pmux>, <&eth0_phy_int_pmux>;
				pinctrl-names = "default";
				rxc-skew-ps = <1500>;
				rxdv-skew-ps = <420>;
				rxd0-skew-ps = <420>;
				rxd1-skew-ps = <420>;
				rxd2-skew-ps = <420>;
				rxd3-skew-ps = <420>;
				txc-skew-ps = <900>;
				txen-skew-ps = <420>;
				txd0-skew-ps = <420>;
				txd1-skew-ps = <420>;
				txd2-skew-ps = <420>;
				txd3-skew-ps = <420>;
				reset-assert-us = <20000>;
				reset-deassert-us = <100000>;
				reset-gpios = <&porta 16 GPIO_ACTIVE_LOW>;
			};
		};

		mdio@1 {
			reg = <0x1>;
			#address-cells = <1>;
			#size-cells = <0>;

			eth1_phy: ethernet-phy@7 {
				compatible = "ethernet-phy-ieee802.3-c22";
				reg = <7>;
				pinctrl-0 = <&eth1_phy_rst_pmux>, <&eth1_phy_int_pmux>;
				pinctrl-names = "default";
				rxc-skew-ps = <1500>;
				rxdv-skew-ps = <420>;
				rxd0-skew-ps = <420>;
				rxd1-skew-ps = <420>;
				rxd2-skew-ps = <420>;
				rxd3-skew-ps = <420>;
				txc-skew-ps = <900>;
				txen-skew-ps = <420>;
				txd0-skew-ps = <420>;
				txd1-skew-ps = <420>;
				txd2-skew-ps = <420>;
				txd3-skew-ps = <420>;
				reset-assert-us = <20000>;
				reset-deassert-us = <100000>;
				reset-gpios = <&porta 19 GPIO_ACTIVE_LOW>;
			};
		};
	};

	sdhci1_pwrseq: sdhci1-pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&porta 9 GPIO_ACTIVE_LOW>, <&porta 10 GPIO_ACTIVE_LOW>;
		post-power-on-delay-ms = <50>;
		pinctrl-0 = <&wf_disable_pmux>, <&sdio_reset_pmux>;
		pinctrl-names = "default";
	};

	soc {
		eth0_txc_90deg: syscon@f7e10a18 {
			compatible = "syscon";
			reg = <0xf7e10a18 0x4>;
		};

		eth1_txc_90deg: syscon@f7e10a3c {
			compatible = "syscon";
			reg = <0xf7e10a3c 0x4>;
		};
	};
};

&avio {
	status = "okay";
};

&camera_video {
	status = "okay";
};

&csi {
	status = "okay";

	ports {
		port@0 {
			csi_input: endpoint@0 {
				remote-endpoint = <&cam_endpoint>;
			};
		};
	};
};

&ethernet0 {
	status = "okay";
	pinctrl-0 = <&eth_mdio_pmux>, <&eth0_pmux>;
	pinctrl-names = "default";
	phy-handle = <&eth0_phy>;
	phy-mode = "rgmii-id";
	syna,txc-90deg = <&eth0_txc_90deg>;

	mdio0: mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
	};
};

&ethernet1 {
	status = "okay";
	pinctrl-0 = <&eth_mdio_pmux>, <&eth1_pmux>;
	pinctrl-names = "default";
	phy-handle = <&eth1_phy>;
	phy-mode = "rgmii-id";
	syna,txc-90deg = <&eth1_txc_90deg>;

	mdio1: mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
	};
};

&gpu {
	status = "okay";
};

&i2c3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pmux>;
	clock-frequency = <100000>;

	cam_node: ov5647@36 {
		compatible = "ovti,ov5647";
		reg = <0x36>;
		status = "okay";

		clocks = <&osc>;

		rotation = <0>;
		orientation = <2>;

		port {
			cam_endpoint: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2>;
				clock-noncontinuous;
				remote-endpoint = <&csi_input>;
			};
		};
	};
};

&isp {
	status = "okay";
};

&mux1 {
	status = "okay";
};

&pdma0 {
	status = "okay";
};

&pdma1 {
	status = "okay";
};

&pinctrl {
	bt_disable_pmux: bt-disable-pmux {
		groups = "GPIO8";
		function = "gpio";
	};

	cam_gpio0_pmux: cam-gpio0-pmux {
		groups = "GPIO5";
		function = "gpio";
	};

	cam_gpio1_pmux: cam-gpio1-pmux {
		groups = "GPIO6";
		function = "gpio";
	};

	eth_mdio_pmux: eth-mdio-pmux {
		groups = "GPIO31", "GPIO32";
		function = "rgmii";
		drive-strength = <7>;
	};

	eth0_phy_int_pmux: eth0-phy-int-pmux {
		groups = "GPIO17";
		function = "gpio";
	};

	eth0_phy_rst_pmux: eth0-phy-rst-pmux {
		groups = "GPIO16";
		function = "gpio";
	};

	eth0_pmux: eth0-pmux {
		groups = "GPIO33", "GPIO34", "GPIO35", "GPIO36", "GPIO37", "GPIO38", "GPIO39", "GPIO40", "GPIO41", "GPIO42", "GPIO43", "GPIO44";
		function = "rgmii1";
		drive-strength = <7>;
	};

	eth1_phy_int_pmux: eth1-phy-int-pmux {
		groups = "GPIO18";
		function = "gpio";
	};

	eth1_phy_rst_pmux: eth1-phy-rst-pmux {
		groups = "GPIO19";
		function = "gpio";
	};

	eth1_pmux: eth1-pmux {
		groups = "GPIO48", "GPIO49", "GPIO50", "GPIO51", "GPIO52", "GPIO53", "GPIO54", "GPIO55", "GPIO56", "GPIO57", "GPIO58", "GPIO59";
		function = "rgmii2";
		drive-strength = <7>;
	};

	i2c3_pmux: i2c3-pmux {
		groups = "GPIO27", "GPIO28";
		function = "tw3";
		drive-strength = <8>;
	};

	led_green_pmux: led-green-pmux {
		groups = "GPIO23";
		function = "gpio";
	};

	led_red_pmux: led-red-pmux {
		groups = "GPIO24";
		function = "gpio";
	};

	led_yellow_pmux: led-yellow-pmux {
		groups = "GPIO22";
		function = "gpio";
	};

	optiga_rstn_pmux: optiga-rstn-pmux {
		groups = "GPIO45";
		function = "gpio";
	};

	rpi_porta_pmux: rpi-porta-pmux {
		groups = "GPIO0", "GPIO1", "GPIO2", "GPIO3", "GPIO4",
			 "GPIO12", "GPIO13", "GPIO14", "GPIO15",
			 "GPIO29", "GPIO30";
		function = "gpio";
	};

	sdio_reset_pmux: sdio-reset-pmux {
		groups = "GPIO10";
		function = "gpio";
	};

	uart5_pmux: uart5-pmux {
		groups = "GPIO25", "GPIO26";
		function = "uart5";
		drive-strength = <7>;
	};

	wf_disable_pmux: wf-disable-pmux {
		groups = "GPIO9";
		function = "gpio";
	};
};

&porta {
	pinctrl-0 = <&cam_gpio0_pmux>, <&cam_gpio1_pmux>, <&rpi_porta_pmux>;
	pinctrl-names = "default";

	gpio-line-names =
		"RPi_GPIO_8", "RPi_GPIO_11", "RPi_GPIO_10", "RPi_GPIO_7", "RPi_GPIO_9", "CAM_GPIO0", "CAM_GPIO1", "UART_WAKEn",
		"BT_DISABLEn", "WF_DISABLEn", "SDIO_RESETn", "SDIO_WAKEn", "RPi_GPIO_19", "RPi_GPIO_18", "RPi_GPIO_21", "RPi_GPIO_20",
		"ETH1_RSTn", "ETH1_INTn", "ETH2_INTn", "ETH2_RSTn", "SS1", "", "LED_YELLOW", "LED_GREEN",
		"LED_RED", "RPi_UART5_RXD", "RPi_UART5_TXD", "MIPI_SCL", "MIPI_SDA", "RPi_GPIO_27", "RPi_GPIO_17", "";
};

&portb {
	pinctrl-0 = <&optiga_rstn_pmux>;
	pinctrl-names = "default";

	gpio-line-names =
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "Optiga_RSTn", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "";
};

&portc {
	pinctrl-0 = <&rpi_portc_pmux>;
	pinctrl-names = "default";

	gpio-line-names =
		"SM_TMS", "SM_TDI", "SM_TDO", "OPTIGA_SCL", "OPTIGA_SDA", "VCORE_ONn", "DISPLAY_GPIO0", "DEBUG_RXD",
		"DEBUG_TXD", "BOOTn", "USER_BUTTON", "", "RPi_GPIO_3", "RPi_GPIO_2", "CAN0_RX", "CAN0_TX";
};

&porte {
	pinctrl-0 = <&rpi_porte_pmux>;
	pinctrl-names = "default";

	gpio-line-names =
		"RPi_GPIO_6", "RPi_GPIO_16", "RPi_GPIO_26", "RPi_GPIO_22", "RPi_GPIO_25", "RPi_GPIO_5", "RPi_GPIO_4", "RPi_GPIO_23";
};

&portf {
	pinctrl-0 = <&rpi_portf_pmux>;
	pinctrl-names = "default";

	gpio-line-names =
		"RPi_GPIO_24", "M2E_RTSn", "M2E_CTSn", "M2E_TXD", "M2E_RXD", "RPi_GPIO_12", "RPi_GPIO_13", "";
};

&sdhci1 {
	status = "okay";
	bus-width = <4>;
	sdclkdl-dc = /bits/ 8 <50>;
	pad-sp = /bits/ 8 <12>;
	pad-sn = /bits/ 8 <12>;
	no-sd;
	no-mmc;
	non-removable;
	mmc-pwrseq = <&sdhci1_pwrseq>;
	mode1-tune;
	keep-power-in-suspend;
};

&sm_pinctrl {
	m2e_uart3_pmux: m2e-uart3-pmux {
		groups = "SM_GPIO33", "SM_GPIO34", "SM_GPIO35", "SM_GPIO36";
		function = "uart3";
		drive-strength = <7>;
	};

	rpi_portc_pmux: rpi-portc-pmux {
		groups = "SM_GPIO12", "SM_GPIO13";
		function = "gpio";
	};

	rpi_porte_pmux: rpi-porte-pmux {
		groups = "SM_GPIO24", "SM_GPIO25", "SM_GPIO26", "SM_GPIO27",
			 "SM_GPIO28", "SM_GPIO29", "SM_GPIO30", "SM_GPIO31";
		function = "gpio";
	};

	rpi_portf_pmux: rpi-portf-pmux {
		groups = "SM_GPIO32", "SM_GPIO37", "SM_GPIO38";
		function = "gpio";
	};

	user_button_pmux: user-button-pmux {
		groups = "SM_GPIO10";
		function = "gpio";
	};
};

&uart0 {
	status = "okay";
};

&uart3 {
	status = "okay";
	pinctrl-0 = <&m2e_uart3_pmux>;
	pinctrl-names = "default";
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&uart5 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart5_pmux>;
};

&usb0 {
	status = "okay";
	dr_mode = "peripheral";
};

&usb1 {
	status = "okay";
	dr_mode = "host";
};

&usb_phy0 {
	status = "okay";
};

&usb_phy1 {
	status = "okay";
};
