/* SPDX-License-Identifier: GPL-2.0+ */
/*
* Copyright (C) 2016~2023 Synaptics Incorporated. All rights reserved.
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License version 2 or
* later as published by the Free Software Foundation.
*
* INFORMATION CONTAINED IN THIS DOCUMENT IS PROVIDED "AS-IS," AND
* SYNAPTICS EXPRESSLY DISCLAIMS ALL EXPRESS AND IMPLIED WARRANTIES,
* INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
* A PARTICULAR PURPOSE, AND ANY WARRANTIES OF NON-INFRINGEMENT OF ANY
* INTELLECTUAL PROPERTY RIGHTS. IN NO EVENT SHALL SYNAPTICS BE LIABLE
* FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR
* CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN CONNECTION WITH THE USE
* OF THE INFORMATION CONTAINED IN THIS DOCUMENT, HOWEVER CAUSED AND
* BASED ON ANY THEORY OF LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
* NEGLIGENCE OR OTHER TORTIOUS ACTION, AND EVEN IF SYNAPTICS WAS
* ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. IF A TRIBUNAL OF
* COMPETENT JURISDICTION DOES NOT PERMIT THE DISCLAIMER OF DIRECT
* DAMAGES OR ANY OTHER DAMAGES, SYNAPTICS' TOTAL CUMULATIVE LIABILITY
* TO ANY PARTY SHALL NOT EXCEED ONE HUNDRED U.S. DOLLARS.
*/

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>
#include "grinn-astra-1680-som.dtsi"

/delete-node/ &isp_vsi_subdev;
/delete-node/ &isp_vsi_video;

/ {
	model = "Grinn AstraEVB-1680";
	compatible = "grinn,grinn-astra-1680-evb", "syna,dolphin";

	bt_reg_on: bt_reg_on {
		compatible = "syna,rfkill";
		status = "okay";
		bt-power-gpio = <&porta 13 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&bt_reg_on_pmux>;
		pinctrl-names = "default";
	};

	keys {
		compatible = "gpio-keys";
		status = "okay";
		pinctrl-0 = <&button_pmux>;
		pinctrl-names = "default";

		user-button {
			label = "Enter Button";
			linux,code = <KEY_ENTER>;
			gpios = <&porta 15 GPIO_ACTIVE_LOW>;
			debounce-interval = <50>;
		};
	};

	leds {
		compatible = "gpio-leds";
		status = "okay";
		pinctrl-0 = <&ir_led_en1_pmux>, <&ir_led_en2_pmux>,
			    <&led0_pmux>, <&led1_pmux>, <&led2_pmux>, <&led3_pmux>;
		pinctrl-names = "default";

		ir_led0: led-ir-0 {
			gpios = <&portb 5 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_IR>;
			function = LED_FUNCTION_TORCH;
			function-enumerator = <0>;
			default-state = "off";
		};

		ir_led1: led-ir-1 {
			gpios = <&portb 4 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_IR>;
			function = LED_FUNCTION_TORCH;
			function-enumerator = <1>;
			default-state = "off";
		};

		status_led0: status-led-0 {
			gpios = <&porta 18 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_POWER;
			linux,default-trigger = "default-on";
			default-state = "off";
		};

		status_led1: status-led-1 {
			gpios = <&porta 19 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_HEARTBEAT;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};

		status_led2: status-led-2 {
			gpios = <&porta 21 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_DISK_ACTIVITY;
			linux,default-trigger = "mmc0";
			default-state = "off";
		};

		status_led3: status-led-3 {
			gpios = <&porta 20 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_FAULT;
			linux,default-trigger = "panic";
			default-state = "off";
		};
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		usb2_vbus: usb2_vbus {
			compatible = "regulator-fixed";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-name = "usb2-vbus";
			enable-active-high;
			gpio = <&portb 23 GPIO_ACTIVE_HIGH>;
			pinctrl-0 = <&usb2_vbus_pmux>;
			pinctrl-names = "default";
		};

		usb3_vbus: usb3_vbus {
			compatible = "regulator-fixed";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-name = "usb3-vbus";
			enable-active-high;
			gpio = <&portb 12 GPIO_ACTIVE_HIGH>;
			pinctrl-0 = <&usb3_vbus_pmux>;
			pinctrl-names = "default";
		};
	};

	soc {
		isp_mcm_subdev: isp_mcm_subdev {
			id = <0>;
			status = "okay";
			compatible = "syna,dolphin-mcm";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@1 {
					reg = <1>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_mcm_subdev_ep1: endpoint@1 {
						reg = <1>;
						remote-endpoint = <&isp_vsi_subdev_ep0>;
					};
				};

				port@3 {
					reg = <3>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_mcm_subdev_ep3: endpoint@3 {
						reg = <3>;
						remote-endpoint = <&isp_vsi_subdev_ep5>;
					};
				};
			};
		};

		isp_vsi_subdev: isp_vsi_subdev {
			id = <0>;
			status = "okay";
			compatible = "verisilicon,isp";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_subdev_ep0: endpoint@0 {
						reg = <0>;
						remote-endpoint = <&isp_mcm_subdev_ep1>;
					};
				};

				port@1 {
					reg = <1>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_subdev_ep1: endpoint@1 {
						reg = <1>;
						remote-endpoint = <&isp_vsi_video_ep0>;
					};
				};

				port@2 {
					reg = <2>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_subdev_ep2: endpoint@2 {
						reg = <2>;
						remote-endpoint = <&isp_vsi_video_ep1>;
					};
				};

				port@3 {
					reg = <3>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_subdev_ep3: endpoint@3 {
						reg = <3>;
						remote-endpoint = <&isp_vsi_video_ep2>;
					};
				};

				port@4 {
					reg = <4>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_subdev_ep4: endpoint@4 {
						reg = <4>;
						remote-endpoint = <&isp_vsi_video_ep3>;
					};
				};

				port@5 {
					reg = <5>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_subdev_ep5: endpoint@5 {
						reg = <5>;
						remote-endpoint = <&isp_mcm_subdev_ep3>;
					};
				};

				port@6 {
					reg = <6>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_subdev_ep6: endpoint@6 {
						reg = <6>;
						remote-endpoint = <&isp_vsi_video_ep4>;
					};
				};

				port@7 {
					reg = <7>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_subdev_ep7: endpoint@7 {
						reg = <7>;
						remote-endpoint = <&isp_vsi_video_ep5>;
					};
				};

				port@8 {
					reg = <8>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_subdev_ep8: endpoint@8 {
						reg = <8>;
						remote-endpoint = <&isp_vsi_video_ep6>;
					};
				};

				port@9 {
					reg = <9>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_subdev_ep9: endpoint@9 {
						reg = <9>;
						remote-endpoint = <&isp_vsi_video_ep7>;
					};
				};
			};
		};

		isp_vsi_video: isp_vsi_video {
			status = "okay";
			compatible = "verisilicon,video";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_video_ep0: endpoint@0 {
						reg = <0>;
						remote-endpoint = <&isp_vsi_subdev_ep1>;
					};
				};

				port@1 {
					reg = <1>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_video_ep1: endpoint@1 {
						reg = <1>;
						remote-endpoint = <&isp_vsi_subdev_ep2>;
					};
				};

				port@2 {
					reg = <2>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_video_ep2: endpoint@2 {
						reg = <2>;
						remote-endpoint = <&isp_vsi_subdev_ep3>;
					};
				};

				port@3 {
					reg = <3>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_video_ep3: endpoint@3 {
						reg = <3>;
						remote-endpoint = <&isp_vsi_subdev_ep4>;
					};
				};

				port@4 {
					reg = <4>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_video_ep4: endpoint@4 {
						reg = <4>;
						remote-endpoint = <&isp_vsi_subdev_ep6>;
					};
				};

				port@5 {
					reg = <5>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_video_ep5: endpoint@5 {
						reg = <5>;
						remote-endpoint = <&isp_vsi_subdev_ep7>;
					};
				};

				port@6 {
					reg = <6>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_video_ep6: endpoint@6 {
						reg = <6>;
						remote-endpoint = <&isp_vsi_subdev_ep8>;
					};
				};

				port@7 {
					reg = <7>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_video_ep7: endpoint@7 {
						reg = <7>;
						remote-endpoint = <&isp_vsi_subdev_ep9>;
					};
				};
			};
		};
	};
};

&aout {
	status = "okay";
};

&avio {
	status = "okay";
	pinctrl-0 = <&hdmitx5v_pmux>;
	pinctrl-names = "default";

	vpp {
		hdtx5v-gpio = <&portb 6 GPIO_ACTIVE_HIGH>;
	};
};

&avio_pinctrl {
	bt_reg_on_pmux: bt-reg-on-pmux {
		groups = "I2S2_LRCKIO";
		function = "gpio";
	};

	button_pmux: button-pmux {
		groups = "I2S1_DO3";
		function = "gpio";
	};

	led0_pmux: led0-pmux {
		groups = "I2S1_MCLK";
		function = "gpio";
	};

	led1_pmux: led1-pmux {
		groups = "I2S1_DO0";
		function = "gpio";
	};

	led2_pmux: led2-pmux {
		groups = "I2S1_LRCKIO";
		function = "gpio";
	};

	led3_pmux: led3-pmux {
		groups = "I2S1_BCLKIO";
		function = "gpio";
	};

	pcie_rst_pmux: pcie-rst-pmux {
		groups = "SPDIFO";
		function = "gpio";
	};

	pdm_pmux: pdm-pmux {
		groups = "I2S2_BCLKIO", "I2S2_DI3";
		function = "pdm";
	};

	usb2_oc_pmux: usb2-oc-pmux {
		groups = "I2S1_DO2";
		function = "gpio";
	};
};

&axi_mc0 {
	status = "okay";
};

&bm {
	status = "okay";
};

&cec {
	status = "okay";
	pinctrl-0 = <&cec_pmux>;
	pinctrl-names = "default";
	hdmi-phandle = <&drm>;
};

&dmic {
	status = "okay";
	pinctrl-0 = <&pdm_pmux>;
	pinctrl-names = "default";
	pdm-type = <0>;
	pdm-clk-sel = <0>;
	ch-shift-check;
	disablemicmute;
};

&dolphin_asoc {
	status = "okay";

	soc_dmic: soc-dmic {
		status = "okay";
		stream-name = "soc-dmic";
		link-name = "soc-dmic";
		cpu-node = <&dmic>;
		codec-name = "snd-soc-dummy";
		codec-dai-name = "snd-soc-dummy-dai";
		platform-node = <&dolphin_pcm>;
	};

	soc_hdmio: soc-hdmio {
		status = "okay";
		stream-name = "soc-hdmio";
		link-name = "soc-hdmio";
		format = "i2s";
		cpu-node = <&hdmi_out>;
		codec-name = "snd-soc-dummy";
		codec-dai-name = "snd-soc-dummy-dai";
		platform-node = <&dolphin_pcm>;
	};
};

&dolphin_pcm {
	status = "okay";
};

&drm {
	status = "okay";

	/* Supported Modes:	0 - HDMI Only
	 *			1 - MIPI Only
	 *			2 - Dual Mode PIP
	 *
	 * Supported types:	0 - HDMI
	 *			3 - MIPI-DSI
	 */
	disp-mode = <2>;
	disp1-res-id = <61>;
	disp1-type = <0>;
	disp2-res-id = <102>;
	disp2-type = <3>;
	sw_partition = <14>;
	devnum = <0>;
	hw_partition = <0>; //0 - Default; 4 - 7 For GP1 to GP4

	dsi_panel {
		status = "okay";
	};

	hdmi_tx {
		status= "okay";
		/* HDMI_Tx core config array with fields as in below order -
		   HPD handling - 1:enable sink hotplug handling 0:disable sink hotplug handling
		   FixedModeset - 1:Enable mode config from within drm driver(on HPD), disable modeset interface to user
				  0:Expose user interface to set mode, don't control from within drm driver
		 */
		hdtx-core-config = /bits/ 8 <1 1>;
		/* Select format IDs enabled for profile. enter number of entries (inclusive) followed by entries <size, n1, n2..>
		   ID to res mapping as below
		   1280x720P30=10 1280x720P60=13
		   1920x1080P24=22 1920x1080P25=21 1920x1080P30=19 1920x1080P50=26 1920x1080P59.94=25 1920x1080P60=24
		   3840x2160P24=57 3840x2160P25=59 3840x2160P30=61 3840x2160P50=62 3840x2160P59.94=63 3840x2160P60=64 */
		hdtx-supported-formats = /bits/ 8 <12 10 13 22 21 19 26 25 24 61 62 64>;
	};
};

&fb {
	status = "okay";
};

&gmac0 {
	status = "okay";
	pinctrl-0 = <&gmac0_pmux>, <&gmac_gpio_pmux>;
	pinctrl-names = "default";
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";
	snps,reset-gpio = <&portd 8 GPIO_ACTIVE_HIGH>;
	snps,reset-delays-us = <0 10000 50000>;
	snps,reset-active-low;
	syna,txc-90deg;
};

&gpu {
	status = "okay";
};

&h1 {
	status = "okay";
};

&hdmi_in {
	status = "okay";
};

&hdmi_out {
	status = "okay";
};

&i2c0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pmux>;
	clock-frequency = <100000>;
	no-irq-suspend;
};

&ir {
	status = "okay";
};

&isp {
	status = "okay";
};

&isp_be {
	status = "okay";
};

&isp_scaler {
	status = "okay";
};

&isp_vsi {
	status = "okay";
};

&isp_vsi_mipi {
	status = "okay";
};

&isp_vsi_vb {
	status = "okay";
};

&mc_dfc {
	status = "okay";
};

&mdio0 {
	phy0: ethernet-phy@0 {
		reg = <0>;
		compatible = "ethernet-phy-ieee802.3-c22";
		device_type = "ethernet-phy";
		rxc-skew-ps = <1500>;
		rxdv-skew-ps = <420>;
		rxd0-skew-ps = <420>;
		rxd1-skew-ps = <420>;
		rxd2-skew-ps = <420>;
		rxd3-skew-ps = <420>;
		txc-skew-ps = <900>;
		txen-skew-ps = <420>;
		txd0-skew-ps = <420>;
		txd1-skew-ps = <420>;
		txd2-skew-ps = <420>;
		txd3-skew-ps = <420>;
	};
};

&npu {
	status = "okay";
};

&ovp {
	status = "okay";
};

&pcie_phy0 {
	status = "okay";
};

&pcie0 {
	status = "okay";
	reset-gpios = <&porta 14 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&pcie_rst_pmux>;
	pinctrl-names = "default";
};

&pinctrl {
	hdmitx5v_pmux: hdmitx5v-pmux {
		groups = "STS1_SOP";
		function = "gpio";
	};

	ir_led_en1_pmux: ir-led-en1-pmux {
		groups = "STS1_SD";
		function = "gpio";
	};

	ir_led_en2_pmux: ir-led-en2-pmux {
		groups = "STS1_VALD";
		function = "gpio";
	};

	usb2_vbus_pmux: usb2-vbus-pmux {
		groups = "USB2_DRV_VBUS";
		function = "gpio";
	};

	usb3_vbus_pmux: usb3_vbus_pmux {
		groups = "SDIO_WP";
		function = "gpio";
	};

	gmac0_pmux: gmac0-pmux {
		groups = "RGMII_MDC", "RGMII_MDIO", "RGMII_TXC", "RGMII_TXD0",
			 "RGMII_TXD1", "RGMII_TXD2", "RGMII_TXD3", "RGMII_TXCTL", "RGMII_RXC",
			 "RGMII_RXD0", "RGMII_RXD1", "RGMII_RXD2", "RGMII_RXD3", "RGMII_RXCTL";
		function = "rgmii";
		drive-strength = <3>;
	};

	i2c0_pmux: i2c0-pmux {
		groups = "TW0_SCL", "TW0_SDA";
		function = "tw0";
		drive-strength = <7>;
	};
};

&porta {
	gpio-line-names =
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "BT_REG_ON", "PCIE_RSTn", "BUTTONn",
		"USB2_OCn", "", "LED0", "LED1", "LED3", "LED2", "", "",
		"", "", "", "", "", "", "", "";
};

&portb {
	gpio-line-names =
		"", "", "", "", "IR_LED_EN2", "IR_LED_EN1", "HDMI_TX_5V_EN", "",
		"", "", "", "", "USB3_EN", "", "", "",
		"", "", "", "", "", "", "", "USB2_EN",
		"", "", "", "", "", "", "", "";
};

&portd {
	pinctrl-0 = <&led_en_pmux>, <&pwr_en_pmux>;
	pinctrl-names = "default";

	gpio-line-names =
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"LED_ENn", "PWR_ENn", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "";
};

&shm {
	status = "okay";
};

&sm {
	status = "okay";
};

&sm_pinctrl {
	cec_pmux: cec-pmux {
		groups = "SM_HDMI_CEC";
		function = "hdmi";
	};

	led_en_pmux: led-en-pmux {
		groups = "SM_SPI2_SS1n";
		function = "gpio";
	};

	pwr_en_pmux: pwr-en-pmux {
		groups = "SM_SPI2_SS0n";
		function = "gpio";
	};

	gmac_gpio_pmux: gmac_gpio_pmux {
		groups = "SM_TDO";
		function = "gpio";
	};

	uart2_pmux: uart2-pmux {
		groups = "SM_SPI2_SS2n", "SM_SPI2_SS3n", "SM_SPI2_SDI", "SM_SPI2_SDO";
		function = "uart2";
		drive-strength = <3>;
	};
};

&tsp {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart2 {
	status = "okay";
	pinctrl-0 = <&uart2_pmux>;
	pinctrl-names = "default";
};

&usb_phy0  {
	status = "okay";
};

&usb_phy1  {
	status = "okay";
};

&usb0 {
	status = "okay";
	vbus-supply = <&usb2_vbus>;
	pinctrl-0 = <&usb2_oc_pmux>;
	pinctrl-names = "default";
};

&vpp {
	status = "okay";
};

&vxg {
	status = "okay";
};

&xhci0 {
	status = "okay";
	vbus-supply = <&usb3_vbus>;
};
