// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2016~2023 Synaptics Incorporated. All rights reserved.
 * Copyright (C) 2025-2026 Grinn sp. z o.o.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 or
 * later as published by the Free Software Foundation.
 *
 * INFORMATION CONTAINED IN THIS DOCUMENT IS PROVIDED "AS-IS," AND
 * SYNAPTICS EXPRESSLY DISCLAIMS ALL EXPRESS AND IMPLIED WARRANTIES,
 * INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE, AND ANY WARRANTIES OF NON-INFRINGEMENT OF ANY
 * INTELLECTUAL PROPERTY RIGHTS. IN NO EVENT SHALL SYNAPTICS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR
 * CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN CONNECTION WITH THE USE
 * OF THE INFORMATION CONTAINED IN THIS DOCUMENT, HOWEVER CAUSED AND
 * BASED ON ANY THEORY OF LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
 * NEGLIGENCE OR OTHER TORTIOUS ACTION, AND EVEN IF SYNAPTICS WAS
 * ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. IF A TRIBUNAL OF
 * COMPETENT JURISDICTION DOES NOT PERMIT THE DISCLAIMER OF DIRECT
 * DAMAGES OR ANY OTHER DAMAGES, SYNAPTICS' TOTAL CUMULATIVE LIABILITY
 * TO ANY PARTY SHALL NOT EXCEED ONE HUNDRED U.S. DOLLARS.
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>
#include "grinn-astra-1680-som.dtsi"

/delete-node/ &isp_vsi_subdev;
/delete-node/ &isp_vsi_video;

/ {
	model = "Grinn AstraSBC-1680";
	compatible = "grinn,grinn-astra-1680-sbc", "syna,dolphin";

	wifi1_bt_disable: wifi1-bt-disable {
		compatible = "syna,rfkill";
		status = "okay";
		bt-power-gpio = <&porta 10 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&wifi1_bt_disable_pmux>;
		pinctrl-names = "default";
	};

	bcmdhd_wlan: bcmdhd-wlan {
		compatible = "android,bcmdhd_wlan";
		status = "okay";
		wl_host_wake = <&porta 17 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&sdio_wake_pmux>;
		pinctrl-names = "default";
	};

	keys {
		compatible = "gpio-keys";
		status = "okay";
		pinctrl-0 = <&user_button_pmux>;
		pinctrl-names = "default";

		user_button: user-button {
			label = "Enter Button";
			linux,code = <KEY_ENTER>;
			gpios = <&porta 15 GPIO_ACTIVE_LOW>;
			debounce-interval = <50>;
		};
	};

	leds {
		compatible = "gpio-leds";
		status = "okay";
		pinctrl-0 = <&led_red_pmux>, <&led_yellow_pmux>, <&led_green_pmux>;
		pinctrl-names = "default";

		status_led_red: status-led-red {
			gpios = <&porta 18 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_POWER;
			linux,default-trigger = "default-on";
			default-state = "off";
		};

		status_led_yellow: status-led-yellow {
			gpios = <&porta 20 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_YELLOW>;
			function = LED_FUNCTION_HEARTBEAT;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};

		status_led_green: status-led-green {
			gpios = <&porta 21 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_DISK_ACTIVITY;
			linux,default-trigger = "mmc0";
			default-state = "off";
		};
	};

	sdhci1_pwrseq: sdhci1-pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi1_wf_disable_pmux>;
		reset-gpios = <&porta 12 GPIO_ACTIVE_LOW>;
	};

	soc {
		eth0_txc_90deg: syscon@f7ea0a04 {
			compatible = "syscon";
			reg = <0xf7ea0a04 0x04>;
		};

		isp_vsi_subdev: isp_vsi_subdev {
			id = <0>;
			status = "okay";
			compatible = "verisilicon,isp";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@1 {
					reg = <1>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_subdev_ep0: endpoint@1 {
						reg = <1>;
						remote-endpoint = <&isp_vsi_video_ep0>;
					};
				};

				port@2 {
					reg = <2>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_subdev_ep1: endpoint@2 {
						reg = <2>;
						remote-endpoint = <&isp_vsi_video_ep1>;
					};
				};

				port@3 {
					reg = <3>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_subdev_ep2: endpoint@3 {
						reg = <3>;
						remote-endpoint = <&isp_vsi_video_ep2>;
					};
				};

				port@4 {
					reg = <4>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_subdev_ep3: endpoint@4 {
						reg = <4>;
						remote-endpoint = <&isp_vsi_video_ep3>;
					};
				};
			};
		};

		isp_vsi_video: isp_vsi_video {
			status = "okay";
			compatible = "verisilicon,video";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_video_ep0: endpoint@0 {
						reg = <0>;
						remote-endpoint = <&isp_vsi_subdev_ep0>;
					};
				};

				port@1 {
					reg = <1>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_video_ep1: endpoint@1 {
						reg = <1>;
						remote-endpoint = <&isp_vsi_subdev_ep1>;
					};
				};

				port@2 {
					reg = <2>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_video_ep2: endpoint@2 {
						reg = <2>;
						remote-endpoint = <&isp_vsi_subdev_ep2>;
					};
				};

				port@3 {
					reg = <3>;
					#address-cells = <1>;
					#size-cells = <0>;
					isp_vsi_video_ep3: endpoint@3 {
						reg = <3>;
						remote-endpoint = <&isp_vsi_subdev_ep3>;
					};
				};
			};
		};
	};
};

&aout {
	status = "okay";
};

&avio {
	status = "okay";
	pinctrl-0 = <&hdmitx5v_pmux>;
	pinctrl-names = "default";

	vpp {
		hdtx5v-gpio = <&portb 5 GPIO_ACTIVE_HIGH>;
	};
};

&avio_pinctrl {
	led_red_pmux: led-red-pmux {
		groups = "I2S1_MCLK";
		function = "gpio";
	};

	led_yellow_pmux: led-yellow-pmux {
		groups = "I2S1_BCLKIO";
		function = "gpio";
	};

	led_green_pmux: led-green-pmux {
		groups = "I2S1_LRCKIO";
		function = "gpio";
	};

	pcie_clkreq_pmux: pcie-clkreq-pmux {
		groups = "I2S2_DI0";
		function = "gpio";
	};

	pcie_rst_pmux: pcie-rst-pmux {
		groups = "I2S2_DI3";
		function = "gpio";
	};

	pcie_wake_pmux: pcie-wake-pmux {
		groups = "I2S2_DI2";
		function = "gpio";
	};

	rpi_porta_pmux: rpi-porta-pmux {
		groups = "I2S2_MCLK", "I2S2_LRCKIO", "SPDIFO", "SPDIFI";
		function = "gpio";
	};

	sdio_wake_pmux: sdio-wake-pmux {
		groups = "I2S1_DO1";
		function = "gpio";
	};

	user_button_pmux: user-button-pmux {
		groups = "I2S1_DO3";
		function = "gpio";
	};

	wifi1_bt_disable_pmux: wifi1-bt-disable-pmux {
		groups = "I2S2_DI1";
		function = "gpio";
	};

	wifi1_wf_disable_pmux: wifi1-wf-disable-pmux {
		groups = "I2S2_BCLKIO";
		function = "gpio";
	};

	i2s3_pmux: i2s3-pmux {
		groups = "I2S3_LRCKIO", "I2S3_BCLKIO", "I2S3_DI", "I2S3_DO";
		function = "i2s3";
	};
};

&axi_mc0 {
	status = "okay";
};

&bm {
	status = "okay";
};

&cec {
	status = "okay";
	pinctrl-0 = <&cec_pmux>;
	pinctrl-names = "default";
	hdmi-phandle = <&drm>;
};

&dolphin_asoc {
	status = "okay";

	soc_hdmio: soc-hdmio {
		status = "okay";
		stream-name = "soc-hdmio";
		link-name = "soc-hdmio";
		format = "i2s";
		cpu-node = <&hdmi_out>;
		codec-name = "snd-soc-dummy";
		codec-dai-name = "snd-soc-dummy-dai";
		platform-node = <&dolphin_pcm>;
	};

	soc_i2si3: soc-i2si3 {
		status = "okay";
		stream-name = "soc-i2si3";
		link-name = "soc-i2si3";
		format = "i2s";
		cpu-node = <&i2s_mic2>;
		codec-name = "snd-soc-dummy";
		codec-dai-name = "snd-soc-dummy-dai";
		platform-node = <&dolphin_pcm>;
	};

	soc_i2so3: soc-i2so3 {
		status = "okay";
		stream-name = "soc-i2so3";
		link-name = "soc-i2so3";
		format = "i2s";
		continuous-clock;
		bitclock-inversion;
		frame-inversion;
		cpu-node = <&i2s_sec>;
		codec-name = "snd-soc-dummy";
		codec-dai-name = "snd-soc-dummy-dai";
		platform-node = <&dolphin_pcm>;
	};
};

&dolphin_pcm {
	status = "okay";
};

&drm {
	status = "okay";

	/* Supported Modes:	0 - HDMI Only
	 *			1 - MIPI Only
	 *			2 - Dual Mode PIP
	 *
	 * Supported types:	0 - HDMI
	 *			3 - MIPI-DSI
	 */
	disp-mode = <0>;

	hdmi_tx {
		status= "okay";
		/* HDMI_Tx core config array with fields as in below order -
		   HPD handling - 1:enable sink hotplug handling 0:disable sink hotplug handling
		   FixedModeset - 1:Enable mode config from within drm driver(on HPD), disable modeset interface to user
				  0:Expose user interface to set mode, don't control from within drm driver
		 */
		hdtx-core-config = /bits/ 8 <1 1>;
		/* Select format IDs enabled for profile. enter number of entries (inclusive) followed by entries <size, n1, n2..>
		   ID to res mapping as below
		   1280x720P30=10 1280x720P60=13
		   1920x1080P24=22 1920x1080P25=21 1920x1080P30=19 1920x1080P50=26 1920x1080P59.94=25 1920x1080P60=24
		   3840x2160P24=57 3840x2160P25=59 3840x2160P30=61 3840x2160P50=62 3840x2160P59.94=63 3840x2160P60=64
		   720x576P50=9 720x480P60=7*/
		hdtx-supported-formats = /bits/ 8 <15 10 13 22 21 19 26 25 24 61 62 63 64 9 7>;
	};
};

&fb {
	status = "okay";
};

&gmac0 {
	status = "okay";
	pinctrl-0 = <&gmac0_pmux>, <&eth_reset_pmux>, <&eth_int_pmux>;
	pinctrl-names = "default";
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";
	snps,reset-gpio = <&portd 8 GPIO_ACTIVE_HIGH>;
	snps,reset-delays-us = <0 10000 50000>;
	snps,reset-active-low;
	syna,txc-90deg = <&eth0_txc_90deg>;
};

&gpu {
	status = "okay";
};

&h1 {
	status = "okay";
};

&hdmi_in {
	status = "okay";
};

&hdmi_out {
	status = "okay";
};

&i2s_mic2 {
	status = "okay";
	pinctrl-0 = <&i2s3_pmux>;
	pinctrl-names = "default";
	duplex;
	disablemicmute;
};

&i2c0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pmux>;
	clock-frequency = <100000>;
	no-irq-suspend;
};

&isp {
	status = "okay";
};

&isp_be {
	status = "okay";
};

&isp_scaler {
	status = "okay";
};

&isp_vsi {
	status = "okay";
	/* Use the reset GPIO to enable the camera LED. */
	reset-gpios = <&portd 16 GPIO_ACTIVE_HIGH>;
	enable-gpios = <&portd 17 GPIO_ACTIVE_HIGH>;
};

&isp_vsi_mipi {
	status = "okay";
};

&isp_vsi_vb {
	status = "okay";
};

&i2s_sec {
	status = "okay";
	pinctrl-0 = <&i2s3_pmux>;
	pinctrl-names = "default";
	duplex;
	sample-period = <32>;
};

&mc_dfc {
	status = "okay";
};

&mdio0 {
	phy0: ethernet-phy@3 {
		reg = <3>;
		compatible = "ethernet-phy-ieee802.3-c22";
		device_type = "ethernet-phy";
		rxc-skew-ps = <1500>;
		rxdv-skew-ps = <420>;
		rxd0-skew-ps = <420>;
		rxd1-skew-ps = <420>;
		rxd2-skew-ps = <420>;
		rxd3-skew-ps = <420>;
		txc-skew-ps = <900>;
		txen-skew-ps = <420>;
		txd0-skew-ps = <420>;
		txd1-skew-ps = <420>;
		txd2-skew-ps = <420>;
		txd3-skew-ps = <420>;
	};
};

&npu {
	status = "okay";
};

&ovp {
	status = "okay";
};

&pcie_phy0 {
	status = "okay";
};

&pcie0 {
	status = "okay";
	reset-gpios = <&porta 8 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&pcie_clkreq_pmux>, <&pcie_rst_pmux>, <&pcie_wake_pmux>;
	pinctrl-names = "default";
};

&pinctrl {
	gmac0_pmux: gmac0-pmux {
		groups = "RGMII_MDC", "RGMII_MDIO", "RGMII_TXC", "RGMII_TXD0",
			 "RGMII_TXD1", "RGMII_TXD2", "RGMII_TXD3", "RGMII_TXCTL", "RGMII_RXC",
			 "RGMII_RXD0", "RGMII_RXD1", "RGMII_RXD2", "RGMII_RXD3", "RGMII_RXCTL";
		function = "rgmii";
		drive-strength = <3>;
	};

	hdmitx5v_pmux: hdmitx5v-pmux {
		groups = "STS1_SD";
		function = "gpio";
	};

	i2c0_pmux: i2c0-pmux {
		groups = "TW0_SCL", "TW0_SDA";
		function = "tw0";
		drive-strength = <7>;
	};

	pwm0_pmux: pwm0-pmux {
		groups = "STS1_CLK", "STS1_SOP";
		function = "pwm";
	};

	rpi_portb_pmux: rpi-portb-pmux {
		groups = "SDIO_WP", "SDIO_CDn", "STS1_VALD";
		function = "gpio";
	};

	spi1_pmux: spi1-pmux {
		groups = "SPI1_SS0n", "SPI1_SS1n", "SPI1_SDO", "SPI1_SDI", "SPI1_SCLK";
		function = "spi1";
	};

	uart3_pmux: uart3-pmux {
		groups = "STS0_CLK", "STS0_SOP", "STS0_SD", "STS0_VALD";
		function = "uart3";
		drive-strength = <3>;
	};

	usb_hub_reset_pmux: usb-hub-reset-pmux {
		groups = "USB2_DRV_VBUS";
		function = "gpio";
	};
};

&porta {
	pinctrl-0 = <&rpi_porta_pmux>;
	pinctrl-names = "default";

	gpio-line-names =
		"", "", "", "", "RPi_GPIO_6", "", "", "RPi_GPIO_27",
		"PCIE_RSTn", "PCIE_WAKEn", "WIFI1_BT_DISABLEn", "PCIE_CLKREQn", "WIFI1_WF_DISABLEn", "RPi_GPIO_26", "RPi_GPIO_5", "USER_BUTTON",
		"", "SDIO_WAKEn", "LED_RED", "", "LED_YELLOW", "LED_GREEN", "", "",
		"", "", "", "", "", "", "", "";
};

&portb {
	pinctrl-0 = <&rpi_portb_pmux>, <&usb_hub_reset_pmux>;
	pinctrl-names = "default";

	gpio-line-names =
		"", "", "", "", "RPi_GPIO_4", "HDMI_TX_5V_EN", "", "",
		"", "", "", "", "RPi_GPIO_0", "RPi_GPIO_1", "", "",
		"", "", "", "", "", "", "", "USB_HUB_RESET",
		"", "", "", "", "", "", "", "";

	disable_usb_hub_reset {
		gpio-hog;
		gpios = <23 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "usb_hub_reset";
	};
};

&portd {
	pinctrl-0 = <&cam_gpio0_pmux>, <&cam_gpio1_pmux>, <&optiga_rstn_pmux>, <&rpi_portd_pmux>;
	pinctrl-names = "default";

	gpio-line-names =
		"RPi_GPIO_24", "RPi_GPIO_25", "", "", "", "", "OPTIGA_RSTn", "ETH_INTn",
		"ETH_RESETn", "", "", "RPi_GPIO_16", "", "", "", "",
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "";
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_pmux>;
	pinctrl-names = "default";
};

&sdhci1 {
	status = "okay";
	no-mmc;
	no-sd;
	non-removable;
	disable-wp;
	keep-power-in-suspend;
	broken-cd;
	sd-uhs-sdr104;
	max-frequency = <200000000>;
	mmc-pwrseq = <&sdhci1_pwrseq>;
};

&shm {
	status = "okay";
};

&sm {
	status = "okay";
};

&sm_pinctrl {
	cam_gpio0_pmux: cam-gpio0-pmux {
		groups = "SM_SPI2_SS0n";
		function = "gpio";
	};

	cam_gpio1_pmux: cam-gpio1-pmux {
		groups = "SM_SPI2_SS1n";
		function = "gpio";
	};

	cec_pmux: cec-pmux {
		groups = "SM_HDMI_CEC";
		function = "hdmi";
	};

	eth_int_pmux: eth-int-pmux {
		groups = "SM_TDI";
		function = "gpio";
	};

	eth_reset_pmux: eth-reset-pmux {
		groups = "SM_TDO";
		function = "gpio";
	};

	optiga_rstn_pmux: optiga-rstn-pmux {
		groups = "SM_TMS";
		function = "gpio";
	};

	rpi_portd_pmux: rpi-portd-pmux {
		groups = "SM_SPI2_SCLK", "SM_TW2_SCL", "SM_TW2_SDA";
		function = "gpio";
	};

	uart2_pmux: uart2-pmux {
		groups = "SM_SPI2_SS2n", "SM_SPI2_SS3n", "SM_SPI2_SDI", "SM_SPI2_SDO";
		function = "uart2";
		drive-strength = <3>;
	};
};

&spi1 {
	status = "okay";
	pinctrl-0 = <&spi1_pmux>;
	pinctrl-names = "default";
};

&tsp {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart2 {
	status = "okay";
	pinctrl-0 = <&uart2_pmux>;
	pinctrl-names = "default";
};

&uart3 {
	status = "okay";
	pinctrl-0 = <&uart3_pmux>;
	pinctrl-names = "default";
};

&usb_phy0  {
	status = "okay";
};

&usb_phy1  {
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "otg";
};

&vpp {
	status = "okay";
};

&vxg {
	status = "okay";
};

&xhci0 {
	status = "okay";
};
